.info_dashboard_div {
  display: block;
  flex-direction: column;
  border-radius: 12px;
  width: 313px;
  height: 272px;
  background: #262626;
  padding: 20px;
}

.info_dashboard_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.info_dashboard_icon_div {
  display: flex;
}

.info_dashboard_icon {
  cursor: pointer;
}

.info_dashboard_p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  max-width: 197px;
  padding-left: 12px;
  height: 53px;
}

.info_dashboard_span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
}

.info_dashboard_nav {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}

.info_dashboard_nav:hover {
  color: #f9f9f9;
}

.info_dashboard_nav_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
