.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #686868;
  text-decoration: none;
}

.active {
  color: #f9f9f9;
}

.nav_wrapper {
  display: none;
}

/* Tablet */

@media (min-width: 768px) {
  .nav_wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0;
  }
}
