.my_library_recommended {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  width: 313px;
  min-height: 259px;
  background: #262626;
  margin-bottom: 20px;
}

.recommended_book_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #e3e3e3;
}

.recommended_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.recommended_list_item {
  cursor: pointer;
}

.recommended_list_img {
  width: 71px;
  height: 107px;
}

.recommended_list_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin: 0;
  width: 71px;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recommended_list_author {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #686868;
  margin: 0;
  max-width: 137px;
}

.my_library_recommended_link_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.my_library_recommended_link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}

.my_library_recommended_link:hover {
  color: #f9f9f9;
}

.my_library_recommended_icon {
  cursor: pointer;
}
