.recommended_book_div {
  border-radius: 30px;
  width: 847px;
  height: 651px;
  background: #1f1f1f;
  padding: 40px 40px 0;
}

.recommended_book_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  width: 201px;
  height: 32px;
  margin: 0;
}

.recommended_book_title_icon_div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.recommended_book_icon_left {
  margin-right: 8px;
  cursor: pointer;
}

.recommended_book_icon_right {
  cursor: pointer;
}

.recommended_books_error {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: red;
}
