.header_div {
  border-radius: 15px;
  max-width: 1216px;
  height: 74px;
  background: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-right: auto;
  margin-left: auto;
}

.header_link_div {
  display: none;
}

.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #686868;
  text-decoration: none;
}

.active {
  color: #f9f9f9;
}

/* Tablet */

@media (min-width: 768px) {
  .header_link_div {
    display: flex;
  }
}

/*  Desktop */

@media (min-width: 1440px) {
}
