.statistics_div {
  display: flex;
  flex-direction: column;
}

.statistics_title_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistics_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.statistics_icon {
  margin-left: 8px;
  cursor: pointer;
}

.statistics_graphic_div {
  border-radius: 12px;
  width: 313px;
  height: 281px;
  background: #262626;
}

.statistics_p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
  margin-bottom: 20px;
}

.statistics_progressbar {
  width: 189px;
  height: 189px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.statistics_total_pages {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
  margin-top: 8px;
}

.statistics_speed {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-top: 30px;
}
