.diary_grafic_div {
  border-radius: 12px;
  align-items: baseline;
  width: 295px;
  height: 250px;
  background: #262626;
  padding: 20px;
  margin-bottom: 20px;
}

.diary_data {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  padding-left: 10px;
}

.diary_list {
  list-style: none;
  padding: 0;
}

.diary_list_item:nth-of-type(n + 3) {
  display: none;
}

.diary_icon_div {
  display: flex;
  align-items: center;
}

.diary_pages {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
  margin-left: 65px;
  margin-bottom: 13px;
}

.diary_info_div {
  display: flex;
}

.diary_duration {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #686868;
}

.diary_percentage {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.diary_percentage_div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 30px;
  margin-top: 28px;
}

.diary_speed_div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-left: 100px;
}

.diary_speed {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #686868;
}

.diary_icon_delete {
  cursor: pointer;
}

/*  Tablet */

@media (min-width: 768px) {
  .diary_grafic_div {
    width: 313px;
    height: 250px;
  }
}

/*Desctop*/

@media (min-width: 1440px) {
  .diary_grafic_div {
    height: 373px;
  }

  .diary_list_item:nth-of-type(n + 4) {
    display: none;
  }

  .diary_list_item:nth-of-type(-n + 3) {
    display: block;
  }
}
