.dashboard_div {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.dashboard_children_div {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 353px;
  height: 651px;
  background: #1f1f1f;
  margin-right: 16px;
}
