.finish_read_modal_icon_div {
  display: flex;
  flex-direction: row-reverse;
}

.finish_read_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
  margin-top: 32px;
}

.finish_read_info {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
  margin-top: 14px;
}
.finish_read_img {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 67px;
  height: 70px;
}

.finish_read_span {
  color: #f9f9f9;
}
